<?php
include_once 'entity/customerEntity.php';
include_once 'includes/functions.php';
// Include database connection and functions here.  See 3.1. 
sec_session_start(); 
?>
<div class="nav">
	<div class="user_data">
		<?php
		//holt den momentan eingelogten user aus der Datenbank
		$loggedUser = new Customer($_SESSION["PK_customerNumber"]);
		?> 	
		<span>
		Willkommen <?=$loggedUser->getLastname();?>
		<?=$loggedUser->getFirstname();?>
		<span>
	</div>
	<div class="logout">
		<a href="includes/logout.php">Log out</a>
	</div>
</div>