@import url("reset.css");

.nav
{
    background-color:#ababab;
    width:100%;
    height:50px;
}

#globalContent
{
    background-color: beige;
}

#globalFooter
{
    background-color: #ababab;
    width: 100%;
    height: 50px;
}

.logout,.user_data 
{
    display:inline;
}

.logout
{
    float:right;
    margin-right:10px;
}