@import url("reset.css");

#globalContent
{
    background-color: beige;
}

#globalFooter
{
    background-color: #ababab;
    width: 100%;
    height: 50px;
}

.nav
{
    background-color:#ababab;
    width:100%;
    min-height:50px;
}

.userData
{
    margin-bottom: 4px;
}

.linkList > ul
{
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}

.linkList > ul > li
{
    display: inline;
    margin-right: 1em;
    margin-left: 1em;
}